<div class="share">
    <% if (theme.share.baidu) { %>
        <div class="bdsharebuttonbox">
            <a href="#" class="fa fa-twitter bds_twi" data-cmd="twi" title="分享到推特"></a>
            <a href="#" class="fa fa-weibo bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
            <a href="#" class="fa fa-qq bds_sqq" data-cmd="sqq" title="分享给 QQ 好友"></a>
            <a href="#" class="fa fa-files-o bds_copy" data-cmd="copy" title="复制网址"></a>
            <a href="#" class="fa fa fa-envelope-o bds_mail" data-cmd="mail" title="通过邮件分享"></a>
            <a href="#" class="fa fa-weixin bds_weixin" data-cmd="weixin" title="生成文章二维码"></a>
            <a href="#" class="fa fa-share-alt bds_more" data-cmd="more"></a>
        </div>
        <script>
          window._bd_share_config = {
            'common': {
              'bdSnsKey': {},
              'bdText': '<%- post.title %>　| <%- config.title %>　",
              'bdMini': '2',
              'bdMiniList': false,
              'bdPic': '',
              'bdStyle': '0',
              'bdSize': '24'
            }, 'share': {}
          }
          with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)]
        </script>
    <% } %>

    <% if (theme.share.addthis) { %>
        <div class="addthis_inline_share_toolbox"></div>
    <% } %>

    <% if (theme.share.spongebob) { %>
      <div class="social_share">
        <ul id="social_list" class="social_icon_list"></ul>
      </div>
      <div id="modal-container">
        <div class="modal-background">
          <div class="modal">
            <h2>Copy Link !</h2>
            <p id="link"></p>
            <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
              <rect x="0" y="0" fill="none" width="360" height="162" rx="3" ry="3"></rect>
            </svg>
          </div>
        </div>
      </div>
      <script src="/pages/share/qrcode.min.js"></script>
      <script>
        var title="<%= post.title %>",url=window.location.href,author="<%= config.author %>",img="<%- config.url %><%=theme.avatar%>",config=[{name:"facebook",set:!0,api:`https://www.facebook.com/sharer/sharer.php?u=${encodeURI(url)}`,title:"Share this article on Facebook",icon:"icon-facebook"},{name:"wechat",set:!0,api:"weixin://",icon:"icon-wechat"},{name:"twitter",set:!0,api:`https://twitter.com/intent/tweet?source=webclient&amp;original_referer=${encodeURI(url)}&amp;text=${encodeURI(title)}&amp;url=${encodeURI(url)}&amp;related=${encodeURI(author)}&amp;via=${encodeURI(author)}`,title:"Share this article on Twitter",icon:"icon-twitter"},{name:"weibo",set:!0,api:`http://v.t.sina.com.cn/share/share.php?url=${encodeURI(url)}&amp;title=${encodeURI(title)}&amp;content=utf8&amp;pic=${encodeURI(img)}`,title:"Share this article on Weibo",icon:"icon-weibo"},{name:"qq",set:!0,api:`http://connect.qq.com/widget/shareqq/index.html?url=${encodeURI(url)}&amp;title=${encodeURI(title)}&amp;pics=${encodeURI(img)}`,title:"Share this article on QQ",icon:"icon-qq"},{name:"qzone",set:!0,api:`http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=${encodeURI(url)}&amp;title=${encodeURI(title)}&amp;pics=${encodeURI(img)}`,title:"Share this article on Qzone",icon:"icon-CN_tencentqzone"},{name:"douban",set:!0,api:`http://www.douban.com/recommend/?url=${encodeURI(url)}&amp;title=${encodeURI(title)}&amp;image=${encodeURI(img)}`,title:"Share this article on Douban",icon:"icon-douban"},{name:"youdao",set:!0,api:`http://note.youdao.com/memory/?title=${encodeURI(title)}&amp;pic=${encodeURI(img)}&amp;url=${encodeURI(url)}`,title:"Share this article on YoudaoNote",icon:"icon-youdaoyunbiji"},{name:"google",set:!0,api:`https://plus.google.com/share?url=${encodeURI(url)}`,title:"Share this article on Google+",icon:"icon-googleplus"},{name:"linkedin",set:!0,api:`https://www.linkedin.com/shareArticle?title=${encodeURI(title)}&amp;url=${encodeURI(url)}`,title:"Share this article on LinkedIn",icon:"icon-linkedin"},{name:"copy",set:!0,title:"Copy the link of this article",icon:"icon-link"},{name:"mail",set:!0,api:`mailto:?subject=${encodeURI(title)}&quot;&amp;body=permalink:${encodeURI(url)}`,title:"Share this article by email",icon:"icon-email"}];var ul=document.getElementById('social_list');config.forEach(function(e){if(JSON.stringify(e)!=='{}'&&e.name&&e.set){let li=document.createElement('li');li.setAttribute('class',`li_item link_${e.name}`);switch(e.name){case'wechat':{li.innerHTML=`<a class="item"href="${e.api}"><i class="iconfont ${e.icon}"></i><div id="qrcode"></div></a>`;break}case'copy':{li.innerHTML=`<span id="copyBtn"class="item"title="${e.title}"><i class="iconfont ${e.icon}"></i><span class="social_name">Copy link</span><textarea id="selection" style="display: none">${url}</textarea></span>`;break}default:{li.innerHTML=`<a class='item'href="${e.api}"rel="nofollow"target="_blank"title='${e.title}'><i class="iconfont ${e.icon}"></i><span class="social_name">${e.name==='qq'?'QQ':e.name}</span></a>`}}ul.appendChild(li)}});document.getElementById('copyBtn').onclick=function(){var input=document.createElement("input");input.setAttribute("readonly","readonly");input.setAttribute("value",url);document.body.appendChild(input);if(!!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)){input.setSelectionRange(0,input.value.length);document.getElementById('link').textContent = url}else{document.getElementById("selection").select()}document.execCommand("copy")||(document.getElementById("link").textContent="Failed！");document.getElementById("modal-container").setAttribute("class","sketch");document.body.removeChild(input)};document.getElementById('copyBtn').oncopy=function(event){if(!-[1,]){if(window.clipboardData){window.clipboardData.setData('Text',url);document.getElementById('link').textContent=window.clipboardData.getData('Text')}}else{event.preventDefault();if(event.clipboardData){event.clipboardData.setData('text/plain',url);document.getElementById('link').textContent=event.clipboardData.getData('text')}}};document.getElementById('modal-container').onclick=function hideModal(){document.getElementById('modal-container').setAttribute('class','sketch out')};document.onload=(function genQRCode(url){return new QRCode('qrcode',{text:url,width:128,height:128,colorDark:'#666',colorLight:'#fff',correctLevel:QRCode.CorrectLevel.M})})(`${encodeURI(url)}#.WthZlpz1y-Y.wechat`)
      </script>
    <% } %>
</div>
